<% layout("/layouts/boilerplates")%>
<body>
  <h2>All Listings</h2>

  <!-- <form method="GET" action="/listings/new">
    <button>Add new project</button>
  </form> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (let list of listing){ %>
    <a href="/listings/<%= list._id%>" class="card-img-link">
      <div class="card">
        <img
          src=" <%= list.image%> "
          style="height: 20rem"
          class="card-img-top"
          alt="Listing image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><%= list.title%></p>
          <p class="card-text">
            &#8360;<%= list.price ? list.price.toLocaleString("en-PK") : "N/A"
            %> / night
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
</body>
