<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wonder Lust</title>
  </head>
  <body>
    <h2>All Listings</h2>
    <ul>
      <% for (let list of listings){ %>
      <li>Title:<a href="/listings/<%= list._id %>"> <%= list.title%></a></li>
      <%}%>
    </ul>
  </body>
</html>
