body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
/*****************************/
/******** NAVBAR ************/
.navbar {
  height: 5rem;
  background-color: #fff;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/*****************************/
/******** FOOTER ************/
.f-info {
  /* width: 100%; */
  padding: 0.6rem 0;
  height: 6rem;
  background-color: #ebebeb;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
}
.f-info-links > a {
  text-decoration: none;
  color: #222222;
}
.f-info-links:hover {
  text-decoration: underline;
}
.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials > i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info-brand {
  text-align: center;
  width: 100%;
}

/*****************************/
/********* CARD ************/
.card {
  /* width: 100%; */
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-body p {
  font-weight: 400;
}
.card-img-link {
  text-decoration: none;
}

/*****************************/
/****** CARD-Overlay ********/
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #fff;
}

/*****************************/
/****** Add-Page ********/
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/*****************************/
/****** Edit-Page ********/
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/*****************************/
/****** Show-Page ********/
.show-image {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
